.container {
  max-width:1140px;
}

.club-acct-cart-menu .cart .popover {
  width:320px;
}

.page-heading {
  margin-top:25px;
  margin-bottom:32px;
}

.btn.continue,
.btn.checkout {
  margin-top:17px;
}

.cart-heading {
  padding-bottom:8px;
  border-bottom:2px solid rgba(66,66,66,0.2);
  font-size:12px;
  font-weight:bold;
}

.cart-content {
  border-bottom:3px solid rgba(66,66,66,0.2);
  margin-bottom:16px;
}

.cart-item {
  padding-top: 16px;
  padding-bottom:16px;
  border-bottom:1px solid rgba(66,66,66,0.2);
}

.cart-item:last-child {
  border:none;
}

.cart-item .media {
  max-width:400px;
}

.cart-item .media .media-body {
  padding-left:20px;
}

.cart-item .radio {
  margin-bottom:20px;
  margin-top:0;
}

.cart-item .radio .subtext,
.cart-item .subtext {
  font-size:12px;
}

.cart-item .radio .subtext.free-shipping {
  color:#4CA90C;
}

.cart-item .og-price,
.cart-item .subtotal {
  font-size:16px;
}

.cart-item .form-group.qty {
  text-align: center;
  margin:0 auto;
  width:100%;
}

.cart-item .form-group.qty input {
  text-align: center;
  width:60px;
  font-weight:500;
  color:#424242;
  position:inherit;
}

.dealoffer {
  width:100%;
  border:1px dashed rgba(66,66,66,0.2);
  border-radius:2px;
  padding:12px;
  font-family:aktiv_grotesk;
  font-size:14px;
  line-height:1.4em;
  margin-bottom:8px;
}

.dealoffer .subtext {
  font-size:12px;
}

.dealoffer .subtext .date {
  color:rgba(66,66,66,0.6);
}

.modal.offer-details {
  top:180px;
}

.modal.offer-details .modal-title {
  font-weight:500;
}

.modal.offer-details .modal-header,
.modal.offer-details .modal-footer {
  border:none;
}

.modal.offer-details .modal-header {
  padding-bottom:0;
}

.modal.offer-details .modal-footer {
  padding-top:0;
}

.total {

}

.total .subtotal {
  margin-bottom:-3px;
}

.total .include-savings {
  font-size:12px;
  color:rgba(66,66,66,0.6)
}

.total .estimated-total {
  margin-top:10px;
  margin-bottom:0;
  border-top:1px solid rgba(66,66,66,0.2)
}

.total .cta {
  margin-top:22px;
  margin-bottom:32px;
}

.total .cart-disclaimers {
  color:rgba(66,66,66,0.6);
  font-size:12px;
  padding:5px 0;
  margin:0;
}
