body{
  background:#f6f6f6;
  margin-top:25px;
}

header.navbar > .container .navbar-brand  {
  background: url(../images/logo_sams_checkout.svg);
  width: 286px;
}

.checkout-section {
  background:#fff;
  width:100%;
  margin-top:25px;
  padding:15px 30px;
}

p {
  transition:all 1s ease;
  font-size:12px;
}

p:target {
    color:red;
    font-size:40px
}
