body{
  background:#f6f6f6;
  margin-top:25px;
}

header.navbar > .container .navbar-brand  {
  background: url(../images/logo_sams_checkout.svg);
  width: 286px;
}

.checkout-section {
  background:#fff;
  width:100%;
  margin-top:25px;
  padding:15px 30px;
}

.selectwrap.existing-address {
  width:35%;
  display:inline-block;
}

.table.items-list {
  color:rgba(66,66,66,0.8);
}

.table.items-list th {
  border-top:0px solid #eee;
}

.table .media-left {
  padding-right:20px;
}

.table .media-body {
  width:100%;
}
