/*floating label*/
.form-group {
  height: 3em;
  margin-bottom:28px;
  position: relative;
  width: 100%;
}

.form-group input,
.form-group select,
.form-group label {
  cursor: text;
  font-weight: 200;
  position: absolute;
  transition: all 0.15s ease;
  width: 100%;
}

.form-group input {
  border: 1px solid rgba(66, 66, 66, 0.4);
  border-radius: 2px;
  background: #fff;
  height: 40px;
  padding: 10px 10px;
  outline: none;
}

.form-group label {
  color: rgba(66, 66, 66, 0.6);
  font-weight: 400;
  line-height: 40px;
  padding: 0 10px;
  font-size:16px;
}

.form-group input.filled ~ label,
.form-group input:focus ~ label,
.form-group select.filled ~ label,
.form-group select:focus ~ label {
  font-size: 12px;
  position: absolute;
  margin-top: -30px;
  margin-left:-10px;
}

.form-group input.filled ~ label {
  /*color: #007932; */
}

.form-group .help-text {
  position:relative;
  top:40px;
  font-size:12px;
  color:rgba(66, 66, 66, 0.6);
}
