
body {
  padding-top:60px;
}
/*** Header search form ***/

.navbar-form {
  border:0;
}

.navbar-form.search-form .form-control {
  border-radius:20px;
}

.navbar-form.search-form .form-control:focus,
.navbar-form.search-form .form-control:hover {
  border-color:#424242;
  box-shadow: none;
  outline: 0 none;
}

.navbar-form.search-form .has-feedback {
  position:relative;
}
.navbar-form.search-form .has-feedback .fa-stack.form-control-feedback .fa-circle {
  color:#eee;
}

.navbar-form.search-form .has-feedback input[type='text']:focus + span.fa-stack .fa-circle {
  color:#1977D3;
}

.navbar-form.search-form .has-feedback label.sr-only~.form-control-feedback {
  position:absolute;
  top:2px;
  right:3px;
  line-height:1.85em;
}
.navbar-header {
  width:100%;
}

.navbar-right {
  margin-right:0;
}
/**********************/

.pencil-ad {
  height:40px;
  line-height:40px;
  background:#f6f6f6;
}

.shrink-menu {
  display:none;
  font-size: 14px;
  line-height: 28px;
  margin-right: 20px;
  margin-top: 15px;
  font-weight:300;
}

.shrink-menu a {
  color:rgba(66,66,66,0.8);
}

.navbar-default {
  background:#fff;
  width:100%;
  border-bottom:1px solid rgba(66, 66, 66, 0.2);
  -webkit-box-shadow: 0 2px 3px rgba(66, 66,66, .2);
  -moz-box-shadow: 0 2px 3px rgba(66, 66, 66, .2);
  box-shadow: 0 2px 3px rgba(66, 66, 66, .2);
 }

 .navbar-toggle {
   border:0;
   padding:0;
 }

.navbar-brand {
  display: block;
  text-indent: -9999px;
  background: url(../images/logo_sams_full.svg);
}

.header-links {
  height:40px;
  font-size:12px;
  line-height:40px;
}

.header-links a {
  color:rgba(66, 66, 66, 0.65);
}

.header-links li:last-child {
  padding-right:0;
}

.club-acct-cart-menu {
  display:none;
}

.club-acct-cart-menu,
.club-acct-cart-menu-simple {
  min-height:40px;
}

.club-acct-cart-menu ul {
  padding:0;
  margin-top:8px;
  vertical-align:middle;
}

.club-acct-cart-menu ul li:last-child {
  padding-right:0;
}

.club-acct-cart-menu ul li {
  padding-right:15px;
  cursor:pointer;
}

.club-acct-cart-menu ul li .fa {
  color:rgba(25, 119, 211, 1);
}

/* toggle chevron up and down */

.club-acct-cart-menu ul li:hover .fa-chevron-down:before {
  content:"\f077";
}

a.btn.cart {
  position:relative;
  padding:5px 11px;
  min-height:40px;
  height:40px;
  line-height:30px;
  margin-top:-20px;
}

a.btn.cart span.cart-count {
  font-size:13px;
  position:absolute;
  width:40px;
  text-align: center;
  top:0;
}

a.btn.cart span.icon {
  padding-left:36px;
  padding-top:0;
  padding-bottom:0;
  background:url(../images/icon_cart.png) bottom right / 73% no-repeat;
}

.club-acct-cart-menu .popover {
  width:240px;
  border-radius:2px;
  padding:5px;
}

.club-acct-cart-menu .popover .title {
  font-size:16px;
  font-weight:500;
  padding-bottom:5px;
  border-bottom:1px solid rgba(66,66,66,0.2);
}

.club-acct-cart-menu .popover .popover-menu-items-wrap .popover-section,
.club-acct-cart-menu .popover .popover-list-wrap .popover-section {
  border-bottom:1px solid rgba(66,66,66,0.2);
  padding-top:5px;
  padding-bottom:15px;
  font-size:12px;
}

.club-acct-cart-menu .popover .popover-menu-items-wrap .popover-section:last-child,
.club-acct-cart-menu .popover .popover-list-wrap .popover-section:last-child {
  border-bottom:0;
  padding-bottom:0;
}

.club-acct-cart-menu .popover .popover-menu-items-wrap .popover-section ul li,
.club-acct-cart-menu .popover .popover-list-wrap .popover-section ul li {
  margin-bottom:5px;
}

.club-acct-cart-menu .popover .popover-menu-items-wrap .popover-section ul li:last-child {
  margin-bottom:0;
}

.super-menu .fa-chevron-down {
  color:rgba(25, 119, 211, 1);
}

.super-menu ul li:hover .fa-chevron-down:before {
  content:"\f077";
}

.super-menu .all-dept {
  font-size:16px;
  font-weight:500;
  margin-left:20px;
  margin-right:20px;
}

.super-menu .all-dept a {
  color:rgba(66,66,66,0.9);
}

.all-dept.dropdown:hover .dropdown-menu {
  font-size:14px;
}

.shrink-menu .all-dept.dropdown:hover .dropdown-menu {
  margin-top:1px
}

.dropdown-menu ul li {
  padding:0 16px;
  display:block;
  position:relative;
}

.dropdown-menu ul li a {
  display:block;
  color:rgba(66, 66, 66, .8);
  text-decoration:none;
  background:none;
  margin:-10px 0;
  padding:0;
  background:#fff;
}

.dropdown:hover .dropdown-menu > li > a {
  padding:5px 16px;
}

.dropdown:hover .dropdown-menu > li > a .fa {
  margin-top:3px;
}

.dropdown:hover .dropdown-menu > li > a:hover {
  color:rgba(25, 119, 211, 1);
  background:none;
}

.dropdown:hover .dropdown-menu > li:first-child {
  margin-top:0;
}

.dropdown:hover .dropdown-menu > li:last-child {
  margin-bottom:0;
}

.dropdown:hover .dropdown-menu > li.category {
  background:#eee;
  font-weight:500;
  padding:0 16px;
  margin-top:8px;
  margin-bottom:4px;
}

.dropdown:hover .dropdown-menu:after,
.dropdown:hover .dropdown-menu:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dropdown:hover .dropdown-menu:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 9px;
	margin-left: -9px;
}

.dropdown:hover .dropdown-menu:before {
	border-color: rgba(66, 66, 66, 0);
	border-bottom-color: rgba(66, 66, 66, .2);
	border-width: 10px;
	margin-left: -10px;
}

.shrink-menu .all-dept.dropdown:hover .dropdown-menu:after,
.shrink-menu .all-dept.dropdown:hover .dropdown-menu:before {
  left:16%;
}
.all-dept.dropdown:hover .dropdown-menu:after,
.all-dept.dropdown:hover .dropdown-menu:before {
  left:42%;
}

.business-tools.dropdown:hover .dropdown-menu:after,
.business-tools.dropdown:hover .dropdown-menu:before {
  left:19%;
}

.member-services.dropdown:hover .dropdown-menu:after,
.member-services.dropdown:hover .dropdown-menu:before {
  left:19%;
}

.acct.dropdown:hover .dropdown-menu:after,
.acct.dropdown:hover .dropdown-menu:before {
  left:19%;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  bottom:0;
  top:-1px;
  height:auto;
  visibility: hidden;
  margin-top: -1px;
  padding:20px 20px;
  height:470px;
  width:380px;
  box-shadow:3px 3px 12px rgba(0,0,0,.175);
  border-radius:0 2px 2px 0;
}

.dropdown-menu .sub-menu dl {
  margin-bottom:15px;
}

.dropdown-menu .sub-menu dl dt {
  color:rgba(66,66,66,0.9)
}
.dropdown-menu .sub-menu dl dd {
  padding-left:8px;
  margin-top:5px;
  margin-bottom:5px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.header-get-plus {
  background:rgba(74,144,226,0.2);
  color:#424242;
  padding:0 25px !important;
  cursor:pointer;
  font-size:16px;
}

.header-get-plus a {
  color:rgba(25, 119, 211, 1);
  text-decoration:none;
}

@media (max-width:767px) {

  .pencil-ad,
  .header-links {
    display:none;
  }

  .navbar-brand {
    float:none;
    width: 143px;
    height: 32px;
    background-size: 143px 32px;
    margin-top:10px;
    margin-left:16px !important;
  }

  .navbar-form.search-form {
    padding: 0 24px;
  }

  .navbar-form.search-form .form-control {
    width:100%;
  }

}

@media (min-width: 1023px) {
  .navbar-toggle {
    display: none;
  }
}

@media (min-width:768px) and (max-width:1023px) {

   .pencil-ad,
   .header-links {
     display:none;
   }

   .navbar-form.search-form {
     padding-left:24px;
   }

   .navbar-form.search-form .form-control {
     min-width:420px;
     max-width:100%;
     height:36px;
     border-color:#fff;
     box-shadow:none;
     background:#eee;
   }

   .navbar-form.search-form .has-feedback .fa-stack.form-control-feedback .fa-search {
     color:rgba(66, 66, 66, 0.4);
   }

   .navbar-form.search-form .has-feedback label.sr-only~.form-control-feedback {
     top:5px;
   }

   .navbar-form.search-form .has-feedback label.sr-only~.form-control-feedback.fa-lg {
     font-size:inherit;
   }

   .navbar-default .navbar-brand {
     width: 115px;
     height: 26px;
     background-size: 115px 26px;
     padding:0;
     margin-top:12px;
     margin-left:16px !important;
   }

   .navbar-default .shrink-menu {
     display:block;
     margin-right:4px;
     margin-top:12px;
   }

   .club-acct-cart-menu {
     display:none;
   }

   .club-acct-cart-menu-simple {
     display:block;
   }

}

@media (min-width: 1024px) {
  body {
    padding-top:185px;
  }

  .navbar-default {
    height:185px;
    transition: all 0.15s;
  }

  .navbar-form.search-form .form-control {
    width:415px;
  }

   .navbar-default .navbar-brand {
     width: 176px;
     height: 40px;
     background-size: 176px 40px;
     margin-top:8px;
     margin-left:0 !important;
   }

   .navbar-default.navbar-shrink {
     height:60px;
   }

   .navbar-default.navbar-shrink .navbar-brand {
     width: 143px;
     height: 32px;
     background-size: 143px 32px;
     margin-top:12px;
   }

   .navbar-default.navbar-shrink .pencil-ad,
   .navbar-default.navbar-shrink .header-links {
     display:none;
   }

   .navbar-default.navbar-shrink .shrink-menu {
     display:block;
   }

   .club-acct-cart-menu {
     display:block;
   }

   .club-acct-cart-menu-simple {
     display:none;
   }
 }

 @media (min-width: 1130px) {
   .navbar-form.search-form .form-control {
     width:480px;
   }
 }
