
body {
  padding-top:60px;
}
/*** Header search form ***/

.navbar-form {
  border:0;
}

.navbar-form.search-form .form-control {
  border-radius:20px;
}

.navbar-form.search-form .form-control:focus,
.navbar-form.search-form .form-control:hover {
  border-color:#424242;
  box-shadow: none;
  outline: 0 none;
}

.navbar-form.search-form .has-feedback {
  position:relative;
}
.navbar-form.search-form .has-feedback .fa-stack.form-control-feedback .fa-circle {
  color:#eee;
}

.navbar-form.search-form .has-feedback input[type='text']:focus + span.fa-stack .fa-circle {
  color:#1977D3;
}

.navbar-form.search-form .has-feedback label.sr-only~.form-control-feedback {
  position:absolute;
  top:2px;
  right:3px;
  line-height:1.85em;
}
.navbar-header {
  width:100%;
}

.navbar-right {
  margin-right:0;
}
/**********************/

.pencil-ad {
  height:40px;
  line-height:40px;
  background:#eee;
}

.shrink-menu {
  display:none;
  font-size: 14px;
  line-height: 28px;
  margin-right: 20px;
  margin-top: 15px;
  font-weight:300;
}

.navbar-default {
  background:#fff;
  width:100%;
  border-bottom:1px solid rgba(66, 66, 66, 0.2);
  -webkit-box-shadow: 0 2px 3px rgba(66, 66,66, .2);
  -moz-box-shadow: 0 2px 3px rgba(66, 66, 66, .2);
  box-shadow: 0 2px 3px rgba(66, 66, 66, .2);
 }

 .navbar-toggle {
   border:0;
   padding:0;
 }

.navbar-brand {
  display: block;
  text-indent: -9999px;
  background: url(../images/logo_sams.svg);
}

.header-links {
  height:40px;
  font-size:12px;
  line-height:40px;
}

.header-links a {
  color:rgba(66, 66, 66, 0.65);
}

.header-links li:last-child {
  padding-right:0;
}

.club-acct-cart-menu {
    display:none;
}

.club-acct-cart-menu,
.club-acct-cart-menu-simple {
  min-height:40px;
}

.club-acct-cart-menu ul {
  padding:0;
  margin-top:5px;
  vertical-align:middle;
}

.club-acct-cart-menu ul li:last-child {
  padding-right:0;
}

.club-acct-cart-menu ul li {
  padding-right:15px;
  cursor:pointer;
}

.club-acct-cart-menu ul li .fa {
  color:rgba(25, 119, 211, 1);
}

/* toggle chevron up and down */

.club-acct-cart-menu ul li:hover .fa-chevron-down:before {
  content:"\f077";
}

a.btn.cart {
  position:relative;
  padding:5px 11px;
  min-height:40px;
  height:40px;
  line-height:30px;
  margin-top:-20px;
}

a.btn.cart span.cart-count {
  font-size:13px;
  position:absolute;
  top:0;
  right:20px;
}

a.btn.cart span.icon {
  padding-left:36px;
  padding-top:0;
  padding-bottom:0;
  background:url(../images/icon_cart.png) bottom right / 73% no-repeat;
}

.club-acct-cart-menu .popover {
  width:260px;
}

@media (max-width:767px) {

  .pencil-ad,
  .header-links {
    display:none;
  }

  .navbar-brand {
    float:none;
    width: 143px;
    height: 32px;
    background-size: 143px 32px;
    margin-top:10px;
    margin-left:16px !important;
  }

  .navbar-form.search-form {
    padding: 0 24px;
  }

  .navbar-form.search-form .form-control {
    width:100%;
  }

}

@media (min-width: 1023px) {
  .navbar-toggle {
    display: none;
  }
}

@media (min-width:768px) and (max-width:1023px) {

   .pencil-ad,
   .header-links {
     display:none;
   }

   .navbar-form.search-form {
     padding-left:24px;
   }

   .navbar-form.search-form .form-control {
     min-width:420px;
     max-width:100%;
     height:36px;
     border-color:#fff;
     box-shadow:none;
     background:#eee;
   }

   .navbar-form.search-form .has-feedback .fa-stack.form-control-feedback .fa-search {
     color:rgba(66, 66, 66, 0.4);
   }

   .navbar-default .navbar-brand {
     width: 115px;
     height: 26px;
     background-size: 115px 26px;
     padding:0;
     margin-top:12px;
     margin-left:16px !important;
   }

   .navbar-default .shrink-menu {
     display:block;
     margin-right:4px;
     margin-top:12px;
   }

   .club-acct-cart-menu {
     display:none;
   }

   .club-acct-cart-menu-simple {
     display:block;
   }

}

@media (min-width: 1024px) {
  body {
    padding-top:175px;
  }

  .navbar-default {
    height:174px;
    transition: all 0.3s;
  }

  .navbar-form.search-form .form-control {
    width:430px;
  }

   .navbar-default .navbar-brand {
     width: 176px;
     height: 40px;
     background-size: 176px 40px;
     margin-top:8px;
     margin-left:0 !important;
   }

   .navbar-default.navbar-shrink {
     height:60px;
   }

   .navbar-default.navbar-shrink .navbar-brand {
     width: 143px;
     height: 32px;
     background-size: 143px 32px;
     margin-top:12px;
   }

   .navbar-default.navbar-shrink .pencil-ad,
   .navbar-default.navbar-shrink .header-links {
     display:none;
   }

   .navbar-default.navbar-shrink .shrink-menu {
     display:block;
   }

   .club-acct-cart-menu {
     display:block;
   }

   .club-acct-cart-menu-simple {
     display:none;
   }
 }

 @media (min-width: 1130px) {
   .navbar-form.search-form .form-control {
     width:560px;
   }
 }
