.navbar-nav .back-wrap {
  position:relative;
  width:120px;
}

.navbar-nav .back-wrap .back-link {
  position:absolute;
  top:15px; left:0;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -71px !important;  /* 50% of your logo width */
  display: block;
}

.main-form-title {
  margin-top:20px;
  margin-bottom:30px;
  font-size:20px;
  font-weight:400;
}

.main-form .main-form-action {
  margin-top:25px;
  margin-bottom:50px;
}

.main-form .form-group-title {
  margin-top:18px;
  margin-bottom:18px;
  font-weight:500;
}

.main-form .form-group-subtitle {
  margin-bottom:18px;
  font-weight:400;
  font-size:12px;
}

.main-form .flyout-form .form-group-title {
  margin-top:0;
}

.keep-signed-in {
  margin-top:16px;
}

.keep-signed-in .col-xs-2 {
  margin-top:10px;
}

.forgot-help {
  margin:0;
  padding:10px 0;
}

.keep-signed-in {

}

.section-separator > .container {
  width:100%;
  padding:0;
}

.section-separator > .container .section-separator-line {
  background:#eee;
  height:10px;
  margin:30px 0 10px 0;
}

.login-section {
  padding:16px 0;
  border-bottom:1px solid rgba(66,66,66,0.2);
}

.login-section .title {
  font-weight:500;
}

.title-help-text {
  font-weight:normal;
  font-size:14px;
  color:rgba(66,66,66,0.8)
}

.help-text {
  padding-top:5px;
}

.field-icon {
  float: right;
  right:5px;
  margin-top: 12px;
  position: relative;
  z-index: 2;
}

.hide-show {
	float:right;
	position: relative;
	z-index: 5;
	display: none;
}

.hide-show span {
  font-size:12px;
  font-weight:normal;
  color:#fff;
  background:#ccc;
  padding:1px 5px;
  margin: .8em;
  float: right;
  cursor: pointer;
}

.perks ul li {
  margin-bottom:16px;
}
.perks ul li.gas {
  background:url('../login-registration/images/icon_gas.png') no-repeat no-repeat;
  padding-left:40px;
}

/* body margins left and right are 8px until 480px */
@media (max-width: 480px) {
  .container {
    padding-left:8px;
    padding-right:8px;
  }
}
