body {
  font-family: 'aktiv_grotesk';
  color:rgba(66, 66, 66, 0.8);
  min-height:600px;
  padding-top: 100px;
}

h1, h2, h3, h4, h5 {
 font-family: 'bree_serifregular';
}

a {
  color:rgba(25, 119, 211, 1);
}

a,
a:visited,
a:focus {
  color:rgba(25, 119, 211, 1);
}

a:hover {
  color:rgba(25, 119, 211, 0.7);
  text-decoration:none;
}

.btn {
  font-size:16px;
  max-height:40px;
  min-height:40px;
  text-align:center;
  border-radius:2px;
}

.btn-primary,
.btn-primary:active:focus,
.btn-primary:focus{
  background:rgba(76, 169, 12, 1) !important;
  color:#fff;
  border:none;
}

.btn-primary:hover {
  background:rgba(76, 169, 12, 0.7);
}

.btn-secondary {
  background:#fff;
  border:1px solid #4ca90c;
  color:#4ca90c;
}

.btn-secondary:hover {
  background:rgba(76, 169, 12, .1);
  color:#4ca90c;
}

.form-control {
  height:40px;
  border-radius:2px;
  border: 1px solid rgba(66, 66, 66, 0.4);
}

input.faChkSqr {
  visibility: hidden;
}

input.faChkSqr:checked:after, input.faChkSqr:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size:18px;
  height: 18px;
  width: 18px;
  position: relative;
  top: -2px;
  left: 0px;
  background-color:#fff;
  display: inline-block;

}

input.faChkSqr:checked:after {
  content: '\f14a';
  background-color:#fff;
  color:#1977D3;
}

input.faChkSqr:after {
  content: '\f096';
}

/**
 * Bootstrap No-Gutter Grid
 */
 .row.no-gutters {
   margin-right: 0;
   margin-left: 0;
 }
 .row.no-gutters > [class^="col-"],
 .row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
 }


 .navbar {
   background:#fff;
   width:100%;
 }
