body {
  font-family: 'aktiv_grotesk';
  color:rgba(66, 66, 66, 1);
  min-height:600px;
  height:auto !important;
  height:100%;
}

h1, h2, h3, h4, h5 {
 font-family: 'bree_serifregular';
}

.sams-icons {
  font-family: 'SamsIconsRegular';
  font-size:16px;
}

a,
a:visited,
a:focus,
a:active {
  color:rgba(25, 119, 211, 1);
  text-decoration:none;
}

a:hover {
  color:rgba(25, 119, 211, 0.7);
  text-decoration:none;
}

.btn {
  text-align:center;
  border-radius:2px;
  color:#fff;
}

.btn-lg {
  padding:9px 16px;
  font-size:16px;
  letter-spacing:normal;
  height:40px;
}

a.btn-primary {
  color:#fff;
}

a.btn-secondary {
  color:rgba(76, 169, 12, 1);
}

.btn-primary,
.btn-primary:active:focus,
.btn-primary:focus {
  background:rgba(76, 169, 12, 1) !important;
  color:#fff;
  border:none;
  font-weight:500;
}

.btn-primary:hover {
  background:rgba(76, 169, 12, 0.7);
}

.btn-secondary {
  background:#fff;
  border:1px solid #4ca90c;
  color:#4ca90c;
}

.btn-secondary:hover {
  background:rgba(76, 169, 12, .1);
  color:#4ca90c;
}

.form-control {
  height:40px;
  border-radius:2px;
  border: 1px solid rgba(66, 66, 66, 0.4);
}

.radio-primary input[type="radio"]:checked+label::after,
.checkbox-primary input[type="checkbox"]:checked+label::after {
  background-color:#1977d3;
}

.radio-primary input[type="radio"]:checked+label::before,
.checkbox-primary input[type="checkbox"]:checked+label::before {
  border-color:#1977d3
}

.selectwrap {
  position:relative;
}

.selectwrap select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
}

.selectwrap:after {
  content:"\f078";
  font-family: "FontAwesome";
  font-size: 11px;
  color:#1977D3;
  right:8px;
  top:12px;
  padding:0 0 2px;
  position:absolute;
  pointer-events:none;
}

.form-group.has-error {
  margin-bottom:48px;
}

.has-error .form-control {
  border-color: #eb0d00;
}

.help-block {
  position:absolute;
  margin-top:45px;
  font-size:11px;
}

.help-block:after {
  margin-bottom:50px;
}

.help-block.with-errors {
  color:#eb0d00;
}
/*** No-Gutter Grid ***/

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.container {
  width:100%;
}

@media (min-width: 320px) {
  .container {
    padding-right:16px;
    padding-left:16px;
  }
 }

@media (min-width: 1024px) {
  .container {
    min-width:984px;
    max-width: 1299px;
    padding-right:20px;
    padding-left:20px;
  }

  body > .container {
    min-height:640px;
  }
 }

 @media (min-width: 1364px) {
   .container {
     padding-right:32px;
     padding-left:32px;
   }
 }
