body {
  font-family: canada-type-gibson, sans-serif;
  font-weight:normal
}

.btn {
  font-weight:normal;
}

.nav-tabs {
  border-bottom:none;
}

.nav-tabs li > a,
.nav-tabs li > a:hover,
.nav-tabs li > a:focus {
  background:transparent;
  border:none;
  padding:13px 10px 6px 10px;
  margin-right:12px;
}

.nav-tabs li.active > a,
.nav-tabs li.active > a:hover,
.nav-tabs li.active > a:focus {
  border:none;
  border-bottom:3px solid #1977d3;
  background-color:transparent;
}

.grid_tiles .pricing .dollar,
.list_tiles .pricing .dollar {
  font-weight:500;
}

/** Changes specific to making the width 1140px **/

@media (min-width: 1140px) {
  .container {
    min-width:984px;
    padding-right:20px;
    padding-left:20px;
  }

  body > .container {
    min-height:640px;
  }
 }

@media (min-width: 1364px) {

  .container {
    max-width:1140px;
  }

  .cards ul > li {
    /*width:25%; ---  4 tiles per row */
    width:33.33% /* --- 3 tiles per row */
  }

  .grid_tiles {
    min-height:450px;
    width:100%;
    margin:0 auto;
    padding:16px;
  }

  .grid_tiles .img-responsive {
    width:180px;
    height:180px;
  }

}
