/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'aktiv_grotesk';
  color:#424242;
  min-height: 600px;
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
 font-family: 'bree_serifregular';
}

a {
  color:rgba(25, 119, 211, 1);
}

a:hover {
  color:rgba(25, 119, 211, 0.7);
  text-decoration:none;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/**
 * Bootstrap No-Gutter Grid
 */
 .row.no-gutters {
   margin-right: 0;
   margin-left: 0;
 }
 .row.no-gutters > [class^="col-"],
 .row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
 }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 1364px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: auto;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #424242;
    width:230px;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #424242;
    width:224px;
  }
  .main {
    margin-left:224px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .main {
    margin-left:0;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  padding:0 20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  /*padding: 20px;*/
}

@media (min-width: 1364px) {
  .container {
    width: 1300px;
  }

  .main {
    margin-left:230px;
  }

  .grid_tiles {
    height:450px;
    max-width:272px;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .container {
    width:100%;
  }

  .main {
    margin-left:224px;
  }

  .grid_tiles {
    height:450px;
    width:260px;
    padding:16px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .container {
    width:100%;
  }
  .main {
    padding:0;
    margin:0;
  }

  .grid_tiles {
    max-width:256px;
    height:450px;
  }
}

@media (min-width:480px) and (max-width:767px) {
  .main {
    padding:0;
    margin:0;
  }

  .grid_tiles {
    width:240px;
    height:400px;
    padding:16px 12px;
  }

  .grid_tiles img {
    width:140px;
    height:140px;
  }
}

.main .page-header {
  margin-top: 0;
}

/* cards */

.row.cards {
  margin-left:-10px;
}

.cards .thumbnail {
  border-radius:0;
}

.cards ul {
  margin:0;
  padding:0;
}

.cards ul > li {
  padding:0;
  margin:0;
  width:auto;
}

.grid_tiles {
  margin:0;
}
