/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'aktiv_grotesk';
  color:#424242;
  min-height: 600px;
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
 font-family: 'bree_serifregular';
}

a {
  color:rgba(25, 119, 211, 1);
}

a:hover {
  color:rgba(25, 119, 211, 0.7);
  text-decoration:none;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

@media (min-width: 1364px) {
  .container {
    max-width: 1300px;
    padding-right:32px;
    padding-left:32px;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .container {
    min-width:984px;
    max-width: 1299px;
  }
}

@media (min-width: 768px) {
  .container {
    width:100%;
  }
}

/**
 * Bootstrap No-Gutter Grid
 */
 .row.no-gutters {
   margin-right: 0;
   margin-left: 0;
 }
 .row.no-gutters > [class^="col-"],
 .row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
 }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

@media (min-width: 1364px) {
  .navbar > .container {
    max-width: 1300px;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .navbar > .container {
    min-width:984px;
    max-width: 1299px;
  }
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 1364px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: auto;
    z-index: 1000;
    display: block;
    padding: 32px 18px 32px 32px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right:1px solid rgba(66, 66, 66, 0.2);
    min-width:241px;
  }

  .main {
    margin-left:243px;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: auto;
    z-index: 1000;
    display: block;
    padding: 20px 12px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid rgba(66, 66, 66, 0.2);
    min-width:223px;
  }

  .main {
    margin-left:225px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .main {
    margin-left:0;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  /*padding: 20px;*/
}

.main .page-header {
  margin-top: 0;
}

/* cards */

.row.cards,
.row.lists {
  margin:0;
}

.cards .thumbnail,
.lists .thumbnail {
  border-radius:0;
}

.cards ul,
.lists ul {
  margin:0;
  padding:0;
}

.cards ul > li,
.lists ul > li {
  padding:0;
  margin:0;
  margin-left:-3px;
  margin-top:-1px;
  border:1px solid rgba(66, 66, 66, 0.2);
  border-right:0px;
  text-align:center;
}

.grid_tiles,
.list_tiles {
  margin:0;
  text-align:left;
}

@media (min-width: 1364px) {
  .cards ul > li {
    width:25%;
  }

  .grid_tiles {
    min-height:450px;
    width:100%;
    margin:0 auto;
    padding:16px;
  }

  .grid_tiles .img-responsive {
    width:180px;
    height:180px;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .cards ul > li {
    width:33.33%;
  }

  .grid_tiles {
    width:100%;
    min-height:450px;
    padding:16px;
  }

  .grid_tiles .img-responsive {
    width:180px;
    height:180px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .cards ul > li {
    width:33.33%;
  }

  .grid_tiles {
    width:100%
    min-height:450px;
    padding:16px;
  }

  .grid_tiles .img-responsive {
    width:180px;
    height:180px;
  }
}

@media (min-width:480px) and (max-width:767px) {

  .cards ul > li {
    width:50%;
  }

  .grid_tiles {
    width:100%;
    min-height:400px;
    padding:16px 12px;
  }

  .grid_tiles img {
    width:140px;
    height:140px;
  }
}

@media (min-width:320px) and (max-width:479px) {
  .cards ul > li {
    width:100%;
  }

  .grid_tiles .img-responsive {
    width:140px;
    height:140px;
  }
}

@media (min-width:321px) {
  li.list_tiles_wrap {
    border:none;
    display:none;
  }
  .list_tiles {
    display:none;
  }
  .grid_tiles {
    display:block;
  }

}

@media (max-width:320px) {
  li.grid_tiles_wrap {
    border:none;
    display:none;
  }
  .grid_tiles {
    display:none;
  }

  .list_tiles {
    display:block;
  }

  .list_tiles .img-responsive {
    min-width:90px;
    min-height:90px;
  }
}
