/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  font-family: 'aktiv_grotesk';
  font-weight:normal;
  color:rgba(66, 66, 66, 0.8);
  min-height: 600px;
  padding-top: 50px;
}

h1, h2, h3, h4, h5 {
 font-family: 'bree_serifregular';
}

a,
a:visited,
a:focus {
  color:rgba(25, 119, 211, 1);
}

a:hover {
  color:rgba(25, 119, 211, 0.7);
  text-decoration:none;
}

.form-control {
  height:40px;
  border-radius:2px;
  border: 1px solid rgba(66, 66, 66, 0.4);
}

input.faChkSqr {
  visibility: hidden;
}

input.faChkSqr:checked:after, input.faChkSqr:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size:18px;
  height: 18px;
  width: 18px;
  position: relative;
  top: -2px;
  left: 0px;
  background-color:#fff;
  display: inline-block;

}

input.faChkSqr:checked:after {
  content: '\f14a';
  background-color:#fff;
  color:#1977D3;
}

input.faChkSqr:after {
  content: '\f096';
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

@media (min-width: 1364px) {
  .container {
    max-width: 1300px;
    padding-right:32px;
    padding-left:32px;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .container {
    min-width:984px;
    max-width: 1299px;
  }
}

@media (min-width: 768px) {
  .container {
    width:100%;
  }
}

/**
 * Bootstrap No-Gutter Grid
 */
 .row.no-gutters {
   margin-right: 0;
   margin-left: 0;
 }
 .row.no-gutters > [class^="col-"],
 .row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
 }

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

@media (min-width: 1364px) {
  .navbar > .container {
    max-width: 1300px;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .navbar > .container {
    min-width:984px;
    max-width: 1299px;
  }
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  background:#fff;
  border-right: 1px solid rgba(66, 66, 66, 0.2);
}

.sidebar .title {
  background:#f6f6f6;
  height:48px;
  line-height: 32px;
  font-weight:500;
  border-bottom:0;
  padding-top:8px;
}

.sidebar .section-title {
  font-weight:500;
  color:rgba(66, 66, 66, 1);
  border:0;
  padding-top:16px;
}

.sidebar .section-title a {
  display:inline;
  padding:0;
}

/* toggle chevron up and down */
.sidebar .section-title a[aria-expanded=true] .fa-chevron-down {
   display: none;
}
.sidebar .section-title a[aria-expanded=false] .fa-chevron-up {
   display: none;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
  font-weight:300;
}

.sidebar .separator {
  border-bottom:1px solid rgba(66, 66, 66, 0.2);
  padding-top:16px;
  margin-left:-20px;
  margin-right:-21px
}

.nav-sidebar > li {
  margin-bottom:8px;
  margin-top:8px;
}

.nav-sidebar > li label {
  font-weight:300;
}

.nav-sidebar > li a,
.nav-sidebar > li a:hover,
.nav-sidebar > li a:focus {
  padding:0;
  background:none;
  font-weight:400;
}

@media (min-width: 1364px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: auto;
    z-index: 1000;
    display: block;
    padding: 0 18px 32px 32px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    min-width:241px;
  }

  .sidebar .title,
  .nav-sidebar > li {
    padding-left:20px;
    padding-right:18px;
  }

  .sidebar .title span {
    margin-right:3px;
  }
  .main {
    margin-left:243px;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: auto;
    z-index: 1000;
    display: block;
    padding: 0 12px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    min-width:223px;
  }

  .sidebar .title,
  .nav-sidebar > li {
    padding-left:20px;
    padding-right:12px;
  }

  .sidebar .title span {
    margin-right:12px;
  }

  .main {
    margin-left:225px;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .main {
    margin-left:0;
  }

/*
 * Off Canvas
 * --------------------------------------------------
 */

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -225px;
  }

  .row-offcanvas-left.active {
    left: 225px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 225px;
    margin-left: 10px;
  }
}


/*
 * Main content
 */

.main {
  /*padding: 20px;*/
}

.main .page-header {
  margin-top: 0;
}

.main .refinement {
  height:49px;
  line-height:49px;
  font-size:14px;
  padding-left:32px;
  border-bottom:1px solid rgba(66, 66, 66, 0.2);
}

/* cards */

.row.cards {
  margin:0;
  padding:0;
}

.row.lists {
  padding:0 8px;
}

.grid_tiles_wrap {
  position:relative;
}

.cards .thumbnail,
.lists .thumbnail {
  border-radius:0;
}

.cards ul,
.lists ul {
  margin:0;
  padding:0;
}

.cards ul > li,
.lists ul > li {
  padding:0;
  margin:0;
  margin-left:-3px;
  margin-top:-1px;
  border:1px solid rgba(66, 66, 66, 0.2);
  border-right:0px;
  text-align:center;
}

.lists ul > li {
  border:none;
  border-bottom:1px solid rgba(66, 66, 66, 0.2);
}

.grid_tiles,
.list_tiles {
  margin:0;
  text-align:left;
}

/* popover - add to list */

.popover {
  max-width:306px;
  width:306px;
}

.popover .popover-list-wrap {
  padding:7px 2px; /* this adds to 16px around all sides of the popover */
  width:100%;
}

.popover .popover-list-wrap .title {
  font-size:16px;
  color:#424242;
  font-weight:400;
}

.popover .popover-list-wrap ul {
  border-bottom:1px solid rgba(66, 66, 66, 0.2);
  padding-bottom:6px;
  overflow:auto;
  max-height:200px;
}

.popover .popover-list-wrap li {
  padding-bottom:6px;
}

.popover .popover-list-wrap .form-group {
  white-space: nowrap;
}

/* popover - more clubs */

.popover .popover-clubs-wrap {
  padding:7px 2px; /* this adds to 16px around all sides of the popover */
  width:100%;
  max-height:300px;
  overflow-y:auto;
}

.popover .popover-clubs-wrap li {
  padding-bottom:8px;
}

.popover .popover-clubs-wrap .club-info .club-name,
.popover .popover-clubs-wrap .more-club-info .availability {
  font-weight:500;
  color:#424242;
}

@media (min-width: 1364px) {
  .cards ul > li {
    width:25%;
  }

  .grid_tiles {
    min-height:450px;
    width:100%;
    margin:0 auto;
    padding:16px;
  }

  .grid_tiles .img-responsive {
    width:180px;
    height:180px;
  }

  .grid_tiles .actions .btn-primary,
  .list_tiles .actions .btn-primary {
    width:76%;
  }
}

@media (min-width: 1024px) and (max-width: 1363px) {
  .cards ul > li {
    width:33.33%;
  }

  .grid_tiles {
    width:100%;
    min-height:450px;
    padding:16px;
  }

  .grid_tiles .img-responsive {
    width:180px;
    height:180px;
  }

  .grid_tiles .actions .btn-primary,
  .list_tiles .actions .btn-primary {
    width:77%;
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .cards ul > li {
    width:33.33%;
  }

  .grid_tiles {
    width:100%
    min-height:450px;
    padding:16px;
  }

  .grid_tiles .img-responsive {
    width:180px;
    height:180px;
  }

  .grid_tiles .actions .btn-primary,
  .list_tiles .actions .btn-primary {
    width:75%
  }
}

@media (min-width:480px) and (max-width:767px) {

  .cards ul > li {
    width:50%;
  }

  .grid_tiles {
    width:100%;
    min-height:400px;
    padding:16px 12px;
  }

  .grid_tiles img {
    width:140px;
    height:140px;
  }

  .grid_tiles .actions .btn-primary,
  .list_tiles .actions .btn-primary {
    width:75%;
  }
}

@media (min-width:320px) and (max-width:479px) {
  .cards ul > li {
    width:100%;
    margin:0;
  }

  .grid_tiles .actions .btn-primary,
  .list_tiles .actions .btn-primary {
    width:75%;
  }
}

@media (min-width:480px) {
  li.list_tiles_wrap {
    border:none;
    display:none;
  }

  .list_tiles {
    display:none;
  }

  .grid_tiles {
    display:block;
  }
}

@media (max-width:479px) {
  li.grid_tiles_wrap {
    border:none;
    display:none;
  }
  .grid_tiles {
    display:none;
  }

  .list_tiles {
    display:block;
    width:100%;
    margin:0;
  }

  .list_tiles .img-responsive {
    min-width:90px;
    min-height:90px;
  }

  .list_tiles .actions .btn-primary {
    width:72%;
  }
}
