@charset "UTF-8";

@font-face {
  font-family: "club-services";
  src:url("club-services.eot");
  src:url("club-services.eot?#iefix") format("embedded-opentype"),
    url("club-services.woff") format("woff"),
    url("club-services.ttf") format("truetype"),
    url("club-services.svg#club-services") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "club-services" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "club-services" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wireless:before {
  content: "\61";
}
.icon-beer:before {
  content: "\62";
}
.icon-photo:before {
  content: "\63";
}
.icon-propaneexchange:before {
  content: "\64";
}
.icon-breadbakery:before {
  content: "\65";
}
.icon-businessdelivery:before {
  content: "\66";
}
.icon-samedaypickup:before {
  content: "\67";
}
.icon-cafe:before {
  content: "\68";
}
.icon-specialorder:before {
  content: "\69";
}
.icon-chevron:before {
  content: "\6a";
}
.icon-tire:before {
  content: "\6b";
}
.icon-clubpickup:before {
  content: "\6c";
}
.icon-drive-through-pickup:before {
  content: "\6d";
}
.icon-flowers:before {
  content: "\6e";
}
.icon-fuelcenter:before {
  content: "\6f";
}
.icon-hearingcenter:before {
  content: "\70";
}
.icon-meat:before {
  content: "\71";
}
.icon-opticalcenter:before {
  content: "\72";
}
.icon-pharmacy:before {
  content: "\73";
}
